extends ../layouts/main.pug

block content
    .home
        .homeArea1 
            section.homeArea1__quickMenu
                .homeArea1__quickMenu__box 1
                .homeArea1__quickMenu__box 2
                .homeArea1__quickMenu__box 3
                .homeArea1__quickMenu__box 4
        .homeArea2 
            .homeArea2__col1
            .homeArea2__col2