.header {
  width: 100%;
  height: 50px;
  background-color: #45aaf2;
  color: #0c2461;

  display: flex;
  flex-direction: row;
}

.header .header__col1 {
  width: 100%;
  height: 100%;
}

.header .header__col2 {
  width: 450px;
  min-width: 450px; /* min-width -> 최소값 */
  height: 100%;
}

.header .header__col2 .header__col2__ul {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; /* 일정한 간격으로 벌리는 코드 */
  font-family: "Kelly Slab", cursive;
}

.header a {
  text-decoration: none;
  color: #0b0b0b;
  cursor: pointer;
  padding: 5px;
  transition: 0.4s;
  font-family: "Kelly Slab", cursive;
}

.header a:hover {
  color: #f7f1e3;
}

.devMenu {
  height: 100%;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 35px;
}

.devMenu:hover .subBox {
  display: block;
}

.subBox {
  display: none;
  position: absolute; /* position: absolute <- 따로 움직인다는 코드*/
  width: 200px;

  box-shadow: 3px 4px 3px #999;
  margin-top: 50px;
}

.subBox:hover {
  display: block;
}

.subBox h2 {
  width: 100%;
  height: 25px;
  padding: 5px;
}

.subBox h2 a {
  text-decoration: none;
  color: #0b0b0b;
  cursor: pointer;
  padding: 5px;
  transition: 0.4s;
  font-family: "Kelly Slab", cursive;
}

.subBox h2 a:hover {
  color: #45aaf2;
}
