.home {
  width: 100%;
  height: calc(100vh - 50px);
}

.home .homeArea1 {
  width: 100%;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home .homeArea1__quickMenu {
  width: 900px;
  height: 200px;

  background-color: darkgoldenrod;

  transition: 0.8s;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.home .homeArea1__quickMenu:hover {
  background-color: darkgray;
}

.home .homeArea2 {
  width: 100%;
  height: 70%;
  background-color: darkblue;

  display: flex;
  flex-direction: row;
}

.home .homeArea2 .homeArea2__col1 {
  width: 50%;
  height: 100%;
  background-color: black;
}

.home .homeArea2 .homeArea2__col2 {
  width: 50%;
  height: 100%;
  background-color: blue;
}

.quickBox {
  color: #fff;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  border: 0.5px solid #fff;
}

.quickBox i {
  font-size: 60px;
  margin-bottom: 10px;
}

.quickBox p {
  font-size: 20px;
  font-weight: 600;
}
